@use 'sass:map';
@use 'sass:math';

// TODO: Adding SASS Variables

// ANCHOR: Google fonts
$oswald: 'Oswald', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// ANCHOR: Theme colors
$primary: #5bc5f4;
$secondary: #0872b9;
$light: #f1f1f1;
$white: #ffffff;
$medium-dark: #555555;
$overlay-dark: rgba(0, 0, 0, 0.6);

// ANCHOR: Color plates
$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
    'white': $white,
    'black': #000000,
    'medium-dark': $medium-dark,
    'overly-dark': $overlay-dark,
    'accent': #ff4081,
    'background': #f4f4f4,
    'highlight': #ffeb3b,
    'error': #f44336,
    'success': #4caf50,
    'warning': #ff9800,
    'btn-danger': #d32f2f,
    'btn-primary': #1976d2,
    'btn-success': #388e3c,
);

// TODO: SASS map()
// @debug map.get($colors, 'error');
// @debug map.has-key($colors, 'btn-danger');
// @debug map.has-key($colors, 'tertiary');
// @debug map.remove($colors, 'btn-success');
// @debug map.merge($colors, ("pink": #ffc0cb));

// ANCHOR: Padding & Margin
$base-padding: 1rem;
$base-margin: 1rem;

// ANCHOR: Borders & Border-Radius
$base-border-thickness: 1px;
$base-border-radius: 1rem;

// ANCHOR: Box-Shadow
$base-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
$medium-box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.26);

// ANCHOR: Font-sizes
$base-font-size: 1rem; // 16px

$font-size-xm: $base-font-size * 0.75; // 12px
$font-size-sm: $base-font-size * 0.875; // 14px
$font-size-base: $base-font-size; // 16px (base)
$font-size-lg: $base-font-size * 1.25; // 20px
$font-size-xl: $base-font-size * 1.5; // 24px
$font-size-xxl: $base-font-size * 1.75; // 28px
$font-size-3xl: $base-font-size * 2; // 32px
$font-size-4xl: $base-font-size * 2.25; // 36px
$font-size-5xl: $base-font-size * 2.5; // 40px
$font-size-6xl: $base-font-size * 3; // 48px
$font-size-7xl: $base-font-size * 3.5; // 56px
$font-size-8xl: $base-font-size * 4; // 64px
