@use 'sass:map';

// ANCHOR: Variable & Functions
@use './functions' as *;
@use './variables' as *;

// ANCHOR: Base & Layout
@use './base' as *;

// ANCHOR: Colors
@use './colors' as *;

// ANCHOR: Components (button, card, navbar)
@use 'components/card';
@use 'components/button';

// ANCHOR: Utilities (margin, padding, opacity)
@use 'utilities' as *;

/*---------------------------- END OF SECTION ----------------------------*/

/* SECTION: Header part start */
.header_part {
    height: 32px;
    background: $secondary;

    .header_text {
        width: 50%;
        float: left;

        p {
            color: $light;
            font-size: $font-size-sm;
            font-weight: 400;
            font-family: $open-sans;
            line-height: 32px;
        }
    }

    .header_icon {
        width: 50%;
        float: left;
        text-align: right;

        a {
            margin-left: 25px;
            color: $light;
            font-size: $font-size-sm;
            line-height: 32px;
            transition: all linear 0.4s;
            -moz-transition: all linear 0.4s;
            -o-transition: all linear 0.4s;
            -ms-transition: all linear 0.4s;
            -webkit-transition: all linear 0.4s;

            &:hover {
                color: $medium-dark;
            }
        }
    }
}

/* !SECTION Header part end */

/* Menu part start */
.menu_part {
    height: 80px;
}

.logo {
    float: left;
    width: 160px;
}

.logo a {
    padding-top: 20px;
}

.main_menu {
    float: left;
    width: 800px;
}

.main_menu ul li {
    float: left;
}

.main_menu ul {
    float: right;
}

.main_menu ul li a {
    color: $medium-dark;
    font-size: $font-size-sm;
    font-weight: 400;
    font-family: 'Myriad Pro';
    margin-left: 15px;
    line-height: 80px;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.main_menu ul li a:hover {
    color: $secondary;
}

/* Menu part end */

/* Banner part start */
.banner_part {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 88px 0;
    position: relative;
    z-index: 1;
}

.banner_part:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $overlay-dark;
    z-index: -1;
}

.banner_text {
    width: 460px;
    float: right;
    text-align: right;
}

.banner_text h2 {
    color: $white;
    font-size: $font-size-xl;
    font-weight: 400;
    font-family: $oswald;
    margin-bottom: -10px;
}

.banner_text h1 {
    color: $white;
    font-size: 40px;
    font-weight: 700;
    font-family: $oswald;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.banner_text p {
    color: $white;
    font-size: $font-size-xm;
    font-weight: 400;
    font-family: $open-sans;
    line-height: 24px;
}

.banner_text a {
    padding: 10px 20px;
    border: 1px solid $white;
    margin-top: 30px;
    margin-left: 15px;
    color: $white;
    font-size: $font-size-sm;
    font-weight: 500;
    font-family: $oswald;
    text-transform: uppercase;
}

.banner_text a:hover {
    background: $secondary;
    border-color: $secondary;
}

/* Banner part end */

/* About part start */
.about_part {
    padding: 60px 0;
    text-align: center;
}

.about_head h2 {
    color: $medium-dark;
    font-size: 24px;
    font-weight: 500;
    font-family: $oswald;
    text-transform: uppercase;
}

.about_head {
    position: relative;
    display: inline-block;
}

.about_head img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.about_img {
    width: 390px;
    float: left;
}

.about_text {
    width: 570px;
    float: left;
}

.about_inner {
    padding-top: 40px;
}

.about_text p {
    color: $secondary;
    font-size: $font-size-xm;
    font-weight: 400;
    font-family: $open-sans;
    line-height: 24px;
    text-align: left;
    padding-top: 45px;
    padding-left: 20px;
}

.about_img img {
    width: 100%;
}

.about_text p span {
    display: block;
    padding-top: 25px;
}

/* About part end */

/* Service part start */
.service_part {
    padding: 0 0 60px;
    text-align: center;
}

.service_text {
    width: 27.77%;
    float: left;
    padding: 50px 20px 20px;
    background: $light;
    margin-right: 20px;
    position: relative;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.service_text h4 {
    color: $medium-dark;
    font-size: $base-font-size;
    font-weight: 500;
    font-family: $oswald;
    text-transform: uppercase;
}

.service_text p {
    color: $secondary;
    font-size: $font-size-xm;
    font-weight: 400;
    font-family: $open-sans;
    line-height: 24px;
    padding-top: 10px;
}

.service_text .service_icon {
    width: 69px;
    height: 69px;
    background: $light;
    line-height: 69px;
    border-radius: $base-border-radius;
    border: 2px solid $white;
    position: absolute;
    left: 50%;
    top: -37px;
    transform: translateX(-50%);
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.service_text .service_icon::after {
    position: absolute;
    content: '';
    left: -4px;
    top: -4px;
    width: 73px;
    height: 73px;
    border: 2px solid $white;
    border-radius: $base-border-radius;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.service_text .service_icon::before {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    width: 75px;
    height: 75px;
    border: 4px solid $white;
    border-radius: base-border-radius;
}

.service_inner {
    padding-top: 68px;
}

.service_mar {
    margin-right: 0;
}

.service_text:hover .service_icon {
    background: $primary;
}

.service_text:hover .service_icon::after {
    border-color: $primary;
}

.service_text:hover {
    box-shadow: $medium-box-shadow;
}

/* Service part end */

/* Portfolio part start */
.portfolio_part {
    padding-bottom: 60px;
    text-align: center;
}

.port_img_main {
    width: 23.43%;
    float: left;
    margin-right: 20px;
}

.port_inner {
    padding-top: 30px;
}

.port_img_main .img_1 img {
    width: 100%;
}

.port_img_main .img_2 img {
    width: 100%;
}

.port_mar {
    margin-right: 0;
}

.port_img_main .img_1 {
    margin-bottom: 20px;
    position: relative;
}

.port_img_main .img_2 {
    position: relative;
}

.port_img_main .img_1 .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $overlay-dark;
    transform: scale(0);

    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.port_img_main .img_1 .overly a {
    width: 40px;
    height: 40px;
    background: $primary;
    border-radius: $base-border-radius;
    color: $white;
    line-height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.port_img_main .img_2 .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $overlay-dark;
    transform: scale(0);

    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.port_img_main .img_2 .overly a {
    width: 40px;
    height: 40px;
    background: $primary;
    border-radius: $base-border-radius;
    color: $white;
    line-height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.port_img_main .img_1:hover .overly {
    transform: scale(1);
}

.port_img_main .img_2:hover .overly {
    transform: scale(1);
}

/* Portfolio part end */

/* Team part start */
.team_part {
    padding-bottom: 60px;
    text-align: center;
}

.team_main {
    width: 23.43%;
    float: left;
    margin-right: 20px;
}

.team_inner {
    padding-top: 30px;
}

.team_img {
    position: relative;
    overflow: hidden;
}

.team_img .overly {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: $overlay-dark;
    transform: translateX(80px);
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.team_img img {
    width: 100%;
}

.team_img .overly ul li a {
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    line-height: 40px;
    color: $white;
    border-radius: $base-border-radius;
    margin-bottom: 15px;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.team_img .overly ul {
    padding-top: 35px;
}

.team_img .overly ul li a:hover {
    background: $primary;
    border-color: $primary;
}

.team_mar {
    margin-right: 0;
}

.team_main:hover .team_img .overly {
    transform: translateX(0);
}

.team_text h4 {
    color: $medium-dark;
    font-size: $base-font-size;
    font-weight: 500;
    font-family: $oswald;
    text-transform: uppercase;
    padding-top: 4px;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.team_text p {
    color: $secondary;
    font-size: $font-size-sm;
    font-weight: 400;
    font-family: $oswald;
}

.team_main:hover .team_text h4 {
    color: $primary;
}

.team_main:hover .team_img {
    box-shadow: $base-box-shadow;
}

/* Team part end */

/* Testimonial part start */
.testi_part {
    padding-bottom: 60px;
    text-align: center;
}

.testi_inner {
    width: 48.95%;
    float: left;
    margin-right: 20px;
}

.testi_text {
    padding: 20px;
    background: $light;
    position: relative;
}

.testi_img {
    padding-bottom: 36px;
}

.testi_main {
    padding-top: 30px;
}

.testi_text h4 {
    color: $medium-dark;
    font-size: $base-font-size;
    font-weight: 500;
    font-family: $oswald;
    text-transform: uppercase;
}

.testi_text i {
    color: $primary;
    font-size: $font-size-xm;
}

.testi_text h5 {
    color: $secondary;
    font-size: $font-size-sm;
    font-weight: 400;
    font-family: $oswald;
}

.testi_text p {
    color: $secondary;
    font-size: $font-size-xm;
    font-weight: 400;
    font-family: $oswald;
    line-height: 24px;
}

.testi_mar {
    margin-right: 0;
}

.testi_text:after {
    position: absolute;
    content: '';
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    border-top: 20px solid transparent;
    border-bottom: 20px solid $light;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

/* Testimonial part end */

/* Footer part start */
.footer_top {
    padding: 20px 0;
    background: $medium-dark;
}

.footer_logo {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-right: 20px;
}

.footer_contact {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-right: 20px;
}

.footer_link {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding-right: 20px;
}

.footer_flicker {
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.footer_logo p {
    color: $light;
    font-size: $font-size-xm;
    font-weight: 400;
    font-family: $open-sans;
    line-height: 24px;
    padding-top: 30px;
}

.footer_logo p span {
    display: block;
    padding-top: 25px;
}

.footer_contact h4 {
    color: $white;
    font-size: $base-font-size;
    font-weight: 500;
    font-family: $oswald;
    padding-bottom: 45px;
}

.footer_contact p {
    color: $light;
    font-size: $font-size-xm;
    font-weight: 400;
    font-family: $open-sans;
    line-height: 24px;
    padding-left: 45px;
    position: relative;
}

.footer_contact p i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: $primary;
    border-radius: $base-border-radius;
    position: absolute;
    left: 0;
    top: 10px;
}

.footer_link h4 {
    color: $white;
    font-size: $base-font-size;
    font-weight: 500;
    font-family: $oswald;
    padding-bottom: 30px;
}

.footer_link ul {
    width: 50%;
    float: left;
}

.footer_link ul li a {
    color: $white;
    font-size: $font-size-xm;
    font-weight: 400;
    font-family: $open-sans;
    line-height: 36px;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

.footer_link ul li a:hover {
    color: $primary;
}

.footer_flicker h4 {
    color: $white;
    font-size: $base-font-size;
    font-weight: 500;
    font-family: $oswald;
    padding-bottom: 45px;
}

.footer_flicker ul li {
    width: 33.33%;
    padding-right: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    float: left;
}

.footer_flicker ul li img {
    width: 100%;
}

.footer_bottom {
    background: $medium-dark;
    padding: 15px 0;
    text-align: center;
}

.footer_bottom p {
    color: $light;
    font-size: $font-size-xm;
    font-weight: 500;
    font-family: $oswald;
}

.footer_bottom p:hover span {
    color: $primary;
}

/* Footer part end */
