@use 'sass:color';
@use './functions' as *;
@use './variables' as *;

@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: $bg-color;
}

.btn {
    @include btn;
}

@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn($val);
        &:hover {
            background-color: color.adjust($val, $lightness: 5%);
        }
    }

    .btn-outlined-#{$key} {
        @include btn(#ffffff);
        border: $base-border-thickness solid $val;
        &:hover {
            background-color: $val;
        }
    }

    .btn-complement-#{$key} {
        @include btn($val);
        color: light-comp($val);
        &:hover {
            color: $val;
            background-color: light-comp($val);
        }
    }
}
